# Build and Release Folders
/info
/un-deployed
# Other files and folders

# Executables

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
# CocoIndex Code (ccc)
/.cocoindex_code/
